extends layout
block content

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyleIndicator.css')

    script.
        var config_obj = !{JSON.stringify(config_obj)};
        var data_obj = !{JSON.stringify(data_obj)};
        var state_obj = !{JSON.stringify(state_obj)};


    script(src="/javascripts/components.js")
    script(src="/javascripts/controller.js")

    script(src="/javascripts/intromap.js")
    script(src="/javascripts/introdensity.js")

    script(src="/javascripts/init_intro.js")

    script.
        var enterApp = function(){
            window.location.href = window.location.protocol + "//" + window.location.host + '/datavis/alcdash/select/AreaReport/CCG/Admission%20episodes%20for%20alcohol-related%20conditions/Male/E38000137/'
        }



    #intro_container
        //img(src='/images/wahsn_logo.png')#wahsnLogo
        br
        h1 Wessex AHSN Asthma Profiles
        br
        p Figures from Asthma UK suggest


        h4 The NHS spends around #{" "}
            span.number_text &#163
            span.number_text 1
            span #{" "} billion a year treating and caring for people with asthma.

        br
        h4 In 2014 #{" "}
            span.number_text 1,216
            span #{" "} people died from asthma in the UK.

        br
        h4 Asthma attacks hospitalise someone every #{" "}
          span.number_text 8
          span #{" "} minutes.
        br


        hr
        .explore_btn.btn.btn-block(onclick="enterApp()") Click here to view the reports!
        hr


        br
        h4 The Wessex AHSN Respiratory Quality Improvement Programme is working to improve the respiratory health of patients in the Wessex region by:

        p Identifying variations in outcomes across Wessex and comparing these with national best practice.
        p Establishing an expert community of respiratory healthcare professionals to evaluate and promote key development opportunities.
        p Work with patient and carer communities to shape patient-centred models of care including patient education, self-management.

        br
        p Working with Public Health data we have pulled together the Wessex Local Asthma Profiles from which we can understand the impact asthma has on the local population and NHS services within Wessex. #{" "}
            span In this way we will be able to understand any evolving trends that need to be addressed and measure the impact of our work.

        br


        hr

        .explore_btn.btn.btn-block(onclick="enterApp()") Click here to view the reports!

    include report_footer
